body {
    font-family: sans-serif;
    margin: 0;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 600px;
}
main > * {
    width: 50%;
}

#signup {
    margin-top: 2em;
}

#signup label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

textarea {
    resize: none;
}

h2 {
    margin-top: 0;
    text-decoration: underline;
}

#guests {
    display: flex;
    flex-flow: row wrap;
    row-gap: 1em;
}

.guest {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 2px dashed black;
}

.guest > p {
    margin: 0;
}
